<mat-card class="card" *ngFor="let cat of catData">
    <img class="card card__img" mat-card-image [src]="cat.url">
    <mat-card-title class="card card__title">{{cat.breeds[0].name}}</mat-card-title>
    <mat-card-subtitle class="card card__subtitle">{{cat.breeds[0].origin}}</mat-card-subtitle>
    <mat-card-actions class="card card__btn">
        <button mat-icon-button color="warn">
            <mat-icon (click)="favCats(cat.id)" color="red">favorite</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="routeInfo(cat.id)">
            <mat-icon>info</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>