<mat-card class="card">
    <img mat-card-image class="card card__img" [src]="catData.url">
    <mat-card-title class="card card__title">{{catData.breeds[0].origin}}</mat-card-title>
    <mat-card-content class="card card__text">
        <p>Descrição:</p>
        <p>{{catData.breeds[0].description}}</p>
        <p>Temperamento:</p>
        <p>{{catData.breeds[0].temperament}}</p>
        <p>Expectativa de vida:</p>
        <p>{{catData.breeds[0].life_span}} anos</p>
    </mat-card-content>
    <mat-card-actions class="card card__btn">
        <p>Para saber mais, clique no link abaixo: <a [href]="catData.breeds[0].wikipedia_url" target="_blank">{{catData.breeds[0].wikipedia_url}}</a></p>
    </mat-card-actions>
</mat-card>