.card
    display: block
    margin: 50px auto 20px
    width: fit-content
    height: fit-content
    background-color: #fff
    border-radius: 5px

    &__img
        width: 400px
        max-width: 400px
        height: auto
        margin: 0 auto 0
        display: block

    &__btn
        margin: 0 auto